@import "tailwindcss";
@plugin "daisyui";

@layer components {
  .backgroud {
    @apply min-h-screen 
      bg-black 
      text-white;
  }
  .btn-primary {
    @apply px-4 py-2 rounded font-medium
           bg-blue-600 text-white
           hover:bg-blue-700;
  }
}
